<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Basic Meta Information -->
    <meta name="description" content="RealTech BlogX - Your Gateway to Data, Development, and DevOps Mastery">
    <meta name="author" content="RealTech BlogX Team">
    <meta name="keywords"
        content="blog, data science, backend development, python, devops, career transition, learning resources">
    <meta name="robots" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">
    <meta property="og:title" content="RealTech BlogX">
    <meta property="og:description" content="RealTech BlogX - Your Gateway to Data, Development, and DevOps Mastery">
    <meta property="og:image" content="{% static 'images/og-image.jpg' %}">
    <meta property="og:url" content="https://www.insitechinternational.com">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="RealTech BlogX">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="RealTech BlogX">
    <meta name="twitter:description" content="RealTech BlogX - Your Gateway to Data, Development, and DevOps Mastery">
    <meta name="twitter:image" content="{% static 'images/twitter-image.jpg' %}">

    <!-- Link to Bootstrap & Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

    <!-- Link to Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900&display=swap" rel="stylesheet">

    <!-- Link to Favicon -->
    <link rel="icon" href="{% static 'icons/logo.png' %}" />

    <!-- Link to Web App Manifest -->
    <link rel="manifest" href="{% static 'manifest.json' %}" />

    <!-- Theme Color for Mobile Browsers -->
    <meta name="theme-color" content="#000000" />

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css">


    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/Base.css' %}" />
    <link rel="stylesheet" href="{% static 'css/Components.css' %}" />
    <link rel="stylesheet" href="{% static 'css/Authentication.css' %}" />
    <link rel="stylesheet" href="{% static 'css/Blog.css' %}" />

    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <!-- JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


    <title>{% block title %}RealTech BlogX{% endblock %}</title>
</head>

<body>
    <header class="bg-black text-white py-4">
        <div class="container mx-auto flex flex-col items-center">
            <div class="logo mb-4">
                <a href="{% url 'homepage' %}" aria-label="Homepage" class="flex items-center space-x-2">
                    <img src="{% static 'icons/logo.png' %}" alt="RealTech BlogX brand logo" class="brand-logo"
                        width="60">
                    <span class="text-4xl">RealTech BlogX</span>
                </a>
            </div>
            <nav class="flex flex-col md:flex-row md:space-x-6">
                <ul class="flex flex-col md:flex-row space-y-2 md:space-y-0 md:space-x-6">
                    <li><a href="{% url 'homepage' %}" class="hover:text-blue-200">Home</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'users-me' %}" class="hover:text-blue-200">Profile</a></li>
                    <li><a href="{% url 'logout' %}" onclick="event.preventDefault(); logout();"
                            class="hover:text-blue-200">Logout</a></li>
                    {% else %}
                    <li><a href="{% url 'token_obtain_pair' %}" class="hover:text-blue-200">Login</a></li>
                    <li><a href="{% url 'register-user' %}" class="hover:text-blue-200">Register</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>
    {% include 'partials/navbar.html' %}

    <main class="container mx-auto py-8">
        {% block content %}{% endblock %}
    </main>

    <!-- Include Footer -->
    {% include 'partials/footer.html' %}


    <!-- Custom JavaScript -->
    <script type="module" src="{% static 'js/utils.js' %}"></script>
    <script type="module" src="{% static 'js/apiEndpoints.js' %}"></script>
    <script type="module" src="{% static 'js/apiUtils.js' %}"></script>

    <script type="module" src="{% static 'js/handlers/notificationHandlers.js' %}"></script>
    <script type="module" src="{% static 'js/handlers/commentHandlers.js' %}"></script>
    <script type="module" src="{% static 'js/handlers/authHandlers.js' %}"></script>
    <script type="module" src="{% static 'js/handlers/postsHandlers.js' %}"></script>
    <script type="module" src="{% static 'js/handlers/categoryHandlers.js' %}"></script>
    <script type="module" src="{% static 'js/handlers/tagHandlers.js' %}"></script>
    <script type="module" src="{% static 'js/handlers/accountHandlers.js' %}"></script>
    <script type="module" src="{% static 'js/handlers/authorHandlers.js' %}"></script>
    <script type="module" src="{% static 'js/main.js' %}"></script>
    <script type="module" src="{% static 'js/navbar.js' %}"></script>
    <script type="module" src="{% static 'js/index.js' defer%}"></script>

</body>

</html>